/* CSS classes from previous assignment */

.wd-bg-color-black{
    background-color: black;
}

.wd-bg-color-dark-gray{
    background-color: Darkgray;
}

.wd-color-dark-gray{
    color: Darkgray;
}

.wd-color-white {
    color:white;
}

.wd-gear-style {
    margin-left: 35px;
}

.wd-highlight {
    color: rgb(29,161,242);
    border-bottom-color: rgb(29,161,242);
    border-bottom: 4mm rgb(29,161,242);
}

.wd-other-link-color {
    color: rgb(110, 118, 125);
}

.wd-rounded-corners-all-around {
    border-radius: 50px;
    border-style: none;
}

.wd-margin-all-around {
    margin: 30px;
}
.wd-left-border {
    margin-left: 16px;
}
.wd-right-border {
    margin-right: 12px;
}
.wd-width-size {
    width : 88%;
}

.wd-border-right-width {
    border-right-width: 12px;
}

.wd-gear-icon {
    background:url(https://www.cleanpng.com/png-computer-icons-gear-john-s-electric-motors-clip-ar-2282360/preview.html)
}

.wd-link-style {
    font: 15px;
    padding: 16px;
    text-decoration: none;
    font-weight:bold;
    }

.wd-first-line-style {
    margin: 0px;
    margin-top: 10px;
    width: 15%;
    padding-top: 5px;
    margin-left: 16px;
}

.wd-post-style {
    margin: 0px;
    margin-top: 5px;
    width: 15%;
    margin-left: 16px;
    padding-top: 0px;
}

.wd-grid-row {
    clear: both;
}

.wd-grid-col-half-page {
    width: 50%;
    float: left;
}

.wd-float-left {
    float: left;
}

.wd-author {
    margin: 0px;
    margin-top: 5px;
    width: 20%;
    float: left;
    margin-left: 16px;
}

.wd-time {
    margin: 0px;
    margin-top: 5px;

    margin-left: 0px;
}

.wd-title-sub {
    margin: 0px;
    margin-top: 5px;
    margin-left: 16px;
    padding-top: 0px;
}

.wd-image-style {
    margin: 0px;
    margin-top: 5px;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin-right: 16px;
    margin-bottom: 10px;
}

.wd-float-right {
    float: right;
}
/** new css **/
.wd-search-style {
    font-family: Helvetica Neue;
}

.wd-grey-tags{
    color: #bcbebf;
}
.wd-for-you {
    background-color: black;
    color: white; border-top: 0; border-left: 0; border-right:0;  border-bottom-color: #0a53be; border-bottom-width: thick;
}

.wd-img-java-icon{
    border-radius: 20%;
}
.wd-tweet-button {
    margin: 0;
    padding: 0;
    background-color: #3286ee;
    color: white;
    width: 90%;
    float: left;
}

.wd-card-style {
    padding: 0;
    border-right: #adb5bd;
    border-left: #adb5bd;
    border-width: thick;
}

.wd-follow-button {
    margin: 0;
    padding: 0;
    color: black;
    width: fit-content;
    float: right;
    background-color: white;
    border-color: black;
}

.wd-dark-mode {
    background-color: darkgrey;
    color: white;
}

.wd-who-to-follow {
    padding: 0;
    margin-left: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: white;
    width: 60%;
    background-color: #41464b;
    border-color: #aed248;
}

.wd-image-size-company {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    width: 10%;
}

.wd-grey-mode {
    background-color: #41464b;
    color: white;
}
.wd-rounded-corners-all-around {
    border-radius: 50px;
}

.wd-search-link {
    background-color: #41464b;
    border-color: black;
    color: white;
    width: 95%;
}

.wd-font-weight {
    font-weight: bold;
}
.list-group{
    background-color: #000;
    color: #fff;
}

